.wallet
    @extend .coinster-card
    width: 100%
    height: 80px

    display: flex
    flex-direction: row

    align-items: center
    justify-content: space-between

    padding: 21px

    .balance
        color: $money
        font-weight: bold
