.text
    color: $primary
    margin: 0
.big-title
    @extend .text
    font-size: 128px
.subtitle
    @extend .text
    font-size: 32px
.logo-name
    @extend .text
    font-size: 42px
    font-family: monospace

.dashboard-title
    @extend .text
    font-size: 42px
    font-weight: bold
    color: $font-color
.card-title
    @extend .text
    color: $font-color
    margin-bottom: 12px
