.button {
  padding: 12px 12px !important;

  background-color: $heliotrope !important;
  border: solid 1px $heliotrope;

  text-transform: none !important;
  font-weight: bold !important;
  font-size: 16px !important;
  color: $white !important;

  &.full-width {
    width: 100%;
  }

  &.primary {
    background-color: $primary !important;
  }

  &.default {
    background-color: $heliotrope !important;
  }

  &.blue {
    background-color: $blue !important;
  }

  &.egg-blue {
    background-color: $egg-blue !important;
  }

  &.black {
    background-color: $black !important;
  }

  &.light {
    background-color: transparent !important;
    color: $heliotrope !important;
    box-shadow: none !important;
  }

  &.disabled {
    background-color: $white !important;
    color: $black !important;
    border: solid 1px $black;
  }
}
